.input-field{
    font-size:16px;
    padding:4px;
    margin-bottom:14px;
    color:white;
    width:100%;
    display:block;
    background-color:transparent;
    border:none;
    border-bottom: 1px solid white ;
    outline:none;

}
/**Register Page**/
.register{
    height: calc(100vh - 70px)
 
}
.register-container{
    max-width:650px;
    height:100%;
    display:flex;
    margin:auto;
    padding:10px;
  
}
.register-form{
    width:500px;
    margin:auto;
    padding:20px 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 12px;
}
.register-form h1{
    text-align:center;
    margin-bottom:20px;
}
.register-form button{
    width:100%;
    padding:6px;
    font-size:14px;
    border-radius: 8px;
    border:none;
    color:white;
    font-weight: 500;
    background-color: var(--primary-color);
}