:root {
    --primary-color: #35858B;
    --secondary-color: #4FBDBA;
    --ternary-color: #AEFEFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
}